### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
x = set(range(1,11))

In [4]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [6]:
x.add(11)
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [8]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
set3 = set.union(set1,set2)
set3

{1, 2, 3, 4, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
set4 = {x**2 for x in range(1,11)}
set4

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [12]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [14]:
even = {s for s in x if s%2 ==0 }
even

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [16]:
s = {1, 2, 2, 3, 4, 4, 5}
set6 = set(s)
set6

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [17]:
set7 = {1,2,3,4,5}
set8 = {1,2,3}
set8.issubset(set8)

True

In [18]:
set7.issuperset(set8)

True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [20]:
set9 = frozenset(range(1,6))
set9

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [21]:
set7

{1, 2, 3, 4, 5}

In [23]:
list1 = list(set7)
list1.append(6)
set7 = set(list1)
set7

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [24]:
d = {
    frozenset({1,2}): 3,
    frozenset({4,5}): 6, 
    frozenset({7,8}): 9
}
d

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({7, 8}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [25]:
for item in set7:
    print(item)

1
2
3
4
5
6

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [26]:
set10 = set7
while set10:
    set10.pop()
    
set10

set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [28]:
5 in set7

False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [29]:
set11 = {
    (1,2),
    (3,4),
    (5,6)
}
set11

{(1, 2), (3, 4), (5, 6)}